<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading light">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Designer
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        {% markdown designer-profile.md %}
      </div>
    </div>
  </div>
  <!-- Panel -->
  <div class="panel panel-default">
    <div class="panel-heading medium">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Portfolio
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        {% markdown portfolio.md %}
      </div>
    </div>
  </div>
  <!-- Panel -->
  <div class="panel panel-default">
    <div class="panel-heading dark">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Press Release
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        {% markdown press-release.md %}
      </div>
    </div>
  </div>
  <!-- Panel -->
  <div class="panel panel-default">
    <div class="panel-heading pale">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Contact
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        {% markdown contact.md %}
      </div>
    </div>
  </div>
</div>