.gallery { float: right; }
.gallery img { width: auto; height: 100%; }
.gallery figure { display: block; float: left; margin: 0 5px 5px 0; height: 160px; }
.gallery figcaption { display: none; }
span[itemprop="copyrightHolder"] { color : #888; float: right; }
span[itemprop="copyrightHolder"]:before { content: "Foto: "; }
