.gallery figure {
  display: flex;
  float: left;
  margin: 0 5px 5px 0;
  width: 300px;
  height: 150px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gallery img {
  height: auto;
  width: 100%;
}
.gallery figcaption { display: none; }
span[itemprop="copyrightHolder"] { color : #888; float: right; }
span[itemprop="copyrightHolder"]:before { content: "Foto: "; }
