h1.hidden {
  font-size: 0;
}

.social {
  max-width;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Layout Portfolio pages BEGIN */

.content-column-content {
  display: flex;
  flex-direction: column;
}

/* Layout Portfolio pages END */

/* Style Gallery BEGIN */
/*.gallery {
}
.gallery .carousel {
  width: 100%;
}*/
.gallery .title {
  clear: both;
}
/* Style Gallery END */
.issuuembed {
  width: 100%;
  height: 50vh;
}

/* Small devices - large smartphone (portrait phones, 375 and up) */
@media (min-width: 375px) {
  .issuuembed {
    height: 70vh;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .issuuembed {
    height: 50vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
